/* ------------------------- Sign Up ------------------------- */

.sign-up {
  height: 50%;
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 40px;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: var(--white);
}

.sign-up-page {
  background: rgb(68, 130, 244);
  background: radial-gradient(
    circle,
    var(--secondary-color) 0%,
    var(--accent-color) 75%,
    var(--white) 100%
  );
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up > form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sign-up > form > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
}

.sign-up > form label {
  display: flex;
  flex-direction: column;
  margin-block: 5px;
  gap: 5px;
  color: var(--text-color);
  font-size: small;
  font-weight: bold;
}

.sign-up > form > div > label > input {
  height: 30px;
  padding-inline: 5px;
}

.sign-up > p {
  font-size: small;
}

.sign-up > form button {
  width: 50%;
  background-color: var(--secondary-color);
  height: 30px;
  border-radius: 6px;
  color: var(--white);
  border: 0.5px solid;
  font-weight: bold;
  cursor: pointer;
}

.sign-up > form > div:nth-child(2) {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.sign-up > p {
  color: var(--text-color);
}

.sign-up > p > a {
  cursor: pointer;
}