/* ------------------------- Sign In ------------------------- */
.sign-in {
  height: 50%;
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 40px;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: var(--white);
}

.sign-in-page {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(68, 130, 244, 1) 74%,
    rgba(244, 194, 80, 1) 100%
  );
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in > form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sign-in > form > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
}

.sign-in > form label {
  display: flex;
  flex-direction: column;
  margin-block: 5px;
  gap: 5px;
  font-size: small;
  font-weight: bold;
}

.sign-in > form > div > label > input {
  height: 30px;
  padding-inline: 5px;
}

.sign-in > p {
  font-size: small;
}

.sign-in > form button {
  width: 50%;
  background-color: #4482f4;
  height: 30px;
  border-radius: 6px;
  color: #ffff;
  border: 0.5px solid;
  font-weight: bold;
  cursor: pointer;
}

.sign-in > form > div:nth-child(2) {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
